---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/track
    body:
      encoding: UTF-8
      string: '{"app_group_id":"non-existent","attributes":[{"external_id":1,"foo":"bar"}],"events":[],"purchases":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"message":"Invalid or missing App Group API Identifier: non-existent"}'
  recorded_at: Sun, 15 Feb 2015 05:04:56 GMT
recorded_with: VCR 2.9.2
