---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/track
    body:
      encoding: UTF-8
      string: '{"app_group_id":"<APPBOY_GROUP_ID>","attributes":[{"external_id":1,"foo":"bar"}],"events":[],"purchases":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - '"9bc8cbb40d1881f737cb94661e75a2c8"'
    body:
      encoding: UTF-8
      string: '{"attributes_processed":1,"message":"success"}'
  recorded_at: Sun, 15 Feb 2015 05:04:56 GMT
recorded_with: VCR 2.9.2
