---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/track
    body:
      encoding: UTF-8
      string: '{"app_group_id":"non-existent","attributes":[{"external_id":1,"foo":"bar"}],"events":[{"external_id":1,"name":"baz","time":"2015-02-15
        20:38:14 -0500"}],"purchases":[{"external_id":1,"product_id":1,"time":"2015-02-15
        20:38:14 -0500","currency":"CAD","price":1.0}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"message":"Invalid or missing App Group API Identifier: non-existent"}'
  recorded_at: Mon, 16 Feb 2015 01:38:14 GMT
recorded_with: VCR 2.9.2
