---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/track
    body:
      encoding: UTF-8
      string: '{"app_group_id":"<APPBOY_GROUP_ID>","attributes":[],"events":[],"purchases":[{"external_id":1,"product_id":1,"time":"2015-02-15
        00:04:57 -0500","currency":"CAD","price":1.0}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - '"0e21c9b6a49b0970912cf422530a0b3b"'
    body:
      encoding: UTF-8
      string: '{"purchases_processed":1,"message":"success"}'
  recorded_at: Sun, 15 Feb 2015 05:04:57 GMT
recorded_with: VCR 2.9.2
