---
http_interactions:
- request:
    method: get
    uri: https://api.appboy.com/segments/list?api_key=<APPBOY_GROUP_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"5f9d8fd4ccb0c6be554231c5db4a50ef"'
    body:
      encoding: UTF-8
      string: '{"segments":[{"id":"<APPBOY_TEST_SEGMENT>","name":"test","analytics_tracking_enabled":false},{"id":"<APPBOY_TEST_SEGMENT>","name":"All
        Users (Zweet Local - iOS)","analytics_tracking_enabled":true},{"id":"<APPBOY_TEST_SEGMENT>","name":"Engaged
        Recent Users","analytics_tracking_enabled":true},{"id":"<APPBOY_TEST_SEGMENT>","name":"User
        Onboarding - Second Week","analytics_tracking_enabled":true},{"id":"<APPBOY_TEST_SEGMENT>","name":"User
        Onboarding - First Week","analytics_tracking_enabled":true},{"id":"<APPBOY_TEST_SEGMENT>1","name":"Lapsed
        Users - 30 days","analytics_tracking_enabled":true},{"id":"<APPBOY_TEST_SEGMENT>","name":"Lapsed
        Users - 7 days","analytics_tracking_enabled":true}],"message":"success"}'
  recorded_at: Tue, 24 Mar 2015 17:00:42 GMT
recorded_with: VCR 2.9.2
