version: 2.1
jobs:
  test:
    parameters:
      ruby-version:
        type: string
    docker:
      - image: << parameters.ruby-version >>
    steps:
      - checkout
      - run:
          name: Gem install bundler
          command: gem update --system && gem install bundler
      - run:
          name: Bundle install
          command: bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run:
          name: Run tests
          command: bundle exec rake
workflows:
  all-tests:
    jobs:
      - test:
          matrix:
            parameters:
              ruby-version: ["ruby:3.0.0", "ruby:2.7.2", "ruby:2.6.3"]
