---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/track
    body:
      encoding: UTF-8
      string: '{"app_group_id":"<APPBOY_GROUP_ID>","attributes":[],"events":[{"external_id":1,"name":"baz","time":"2015-02-15
        00:04:56 -0500"}],"purchases":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - '"fec87a2a57b1ef3cd6242a118b08372c"'
    body:
      encoding: UTF-8
      string: '{"events_processed":1,"message":"success"}'
  recorded_at: Sun, 15 Feb 2015 05:04:56 GMT
recorded_with: VCR 2.9.2
