---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/email/status
    body:
      encoding: UTF-8
      string: '{"api_key":"<APPBOY_GROUP_ID>","email":"john@example.com","subscription_state":"unsubscribed"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - '"8736cdfe08480bca66cffeee06268705"'
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Thu, 19 Feb 2015 20:42:25 GMT
recorded_with: VCR 2.9.2
