---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/track
    body:
      encoding: UTF-8
      string: '{"app_group_id":"non-existent","attributes":[],"events":[],"purchases":[{"external_id":1,"product_id":1,"time":"2015-02-15
        00:04:57 -0500","currency":"CAD","price":1.0}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"message":"Invalid or missing App Group API Identifier: non-existent"}'
  recorded_at: Sun, 15 Feb 2015 05:04:57 GMT
recorded_with: VCR 2.9.2
