---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/send
    body:
      encoding: UTF-8
      string: '{"api_key":"<APPBOY_GROUP_ID>","messages":{"apple_push":{"alert":"hello"}},"external_user_ids":[1],"segment_ids":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - '"8736cdfe08480bca66cffeee06268705"'
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Mon, 16 Feb 2015 02:04:32 GMT
recorded_with: VCR 2.9.2
