---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/send
    body:
      encoding: UTF-8
      string: '{"app_group_id":"non-existent","messages":{"apple_push":{"alert":"hello"}},"external_user_ids":[1],"segment_ids":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"message":"Invalid or missing App Group API Identifier: non-existent"}'
  recorded_at: Sun, 15 Feb 2015 05:04:55 GMT
recorded_with: VCR 2.9.2
