---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/track
    body:
      encoding: UTF-8
      string: '{"api_key":"<APPBOY_GROUP_ID>","attributes":[{"external_id":1,"foo":"bar"}],"events":[{"external_id":1,"name":"baz","time":"2015-02-15
        00:00:00 -0500"}],"purchases":[{"external_id":1,"product_id":1,"time":"2015-02-15
        00:00:00 -0500","currency":"CAD","price":1.0}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - '"79557eda34d1dfcacc80cdd626202b9a"'
    body:
      encoding: UTF-8
      string: '{"attributes_processed":1,"events_processed":1,"purchases_processed":1,"message":"success"}'
  recorded_at: Mon, 16 Feb 2015 02:04:32 GMT
recorded_with: VCR 2.9.2
