---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/schedule
    body:
      encoding: UTF-8
      string: '{"app_group_id":"non-existent","segment_ids":["<APPBOY_TEST_SEGMENT>"],"send_at":"2015-02-15
        00:04:55 -0500","deliver_in_local_timezone":false,"messages":{"apple_push":{"alert":"hello"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"message":"Invalid or missing App Group API Identifier: non-existent"}'
  recorded_at: Sun, 15 Feb 2015 05:04:55 GMT
recorded_with: VCR 2.9.2
