---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/export/segment
    body:
      encoding: UTF-8
      string: '{"api_key":"<APPBOY_GROUP_ID>","segment_id":"<APPBOY_TEST_SEGMENT>","callback_endpoint":"https://example.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - '"0b603642a946afe389ef6c98459d8ba5"'
    body:
      encoding: UTF-8
      string: '{"url":"https://appboy-data-export.s3.amazonaws.com/<REDACTED>.zip","message":"success"}'
  recorded_at: Tue, 24 Mar 2015 17:33:20 GMT
recorded_with: VCR 2.9.2
