---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/email/status
    body:
      encoding: UTF-8
      string: '{"api_key":"<APPBOY_GROUP_ID>","email":"doesntexist@example.com","subscription_state":"unsubscribed"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"message":"There is no user with the provided email"}'
  recorded_at: Thu, 19 Feb 2015 20:42:25 GMT
recorded_with: VCR 2.9.2
